<h2>Edit Product</h2>

<% if @product.errors.any? %>
    <%= render "shared/validation_errors", model: @product %>
<% end %>

<div class="mt-3">
    <%= render "shared/product_form", path: user_product_path %>
</div>