<%= form_with(url: search_user_products_path(current_user), method: :post, data: { controller: "debounce", debounce_target: "form" }) do |form|  %>
    <div class="input-group mb-5">
        <%= form.search_field :query, class: "form-control", placeholder: "Search Products", data: { action: "input->debounce#search" } %>
    </div>
<% end %>

<%= render "products_search", products: @products %>